.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;

  width: 100vw;
  height: auto; 

  margin-top: 1.5rem;
  margin-bottom: -65px;

  //background-color: aqua;

  svg {
    cursor: pointer;
    transition: transform 0.4s;
    
    &:hover{      
      transform: scale(1.2);
    }
  }
}

.content {
  display: flex;

  h1 {
    color: var(--white);
    margin: 0 8px 0 0;
  }
}