.input{
  margin-bottom: 1rem;
  height: 35px;
  border: 0;
  border-radius: 0.5rem;
  background-color: var(--dark2);
  color: var(--white);
  padding: 1rem;
  border: 1px solid var(--gray2);
}

.input::placeholder{
  color: var(--dark-blue);
}