.container {
    max-width: 720px;
    margin: 4rem auto;
    padding: 0 2rem;
  
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  
  
  .bloc {
    display: flex;
    align-items: center;
  
    hr {
      height: 20px;
      width: 1px;
    }
  }
  
  .tab {
    list-style: none;
    margin: 0.3rem auto;
  
    button {
      background-color: var(--blue);
      border-radius: 0.5rem;
      padding: 0.3rem;
      border: none;
      margin: 0.2rem;
      justify-content: center;
      align-items: center;
      color: var(--white);
      //transition: background-color 0.7s;
  
      //&:hover{
      //  background-color: var(--dark-blue);
      //}
    }
  }
  
  .form {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
  }
  
  .container h1 {
    color: var(--white);
    font-size: 1.5rem;
    margin: 1.5rem auto;
  }
  
  .buttonAdd {
    height: 35px;
    background-color: var(--green);
    border: 0;
    border-radius: 0.5rem;
    font-weight: 600;
    padding: 0.5rem;
    margin: 0.2rem;
    color: var(--white);
  
    transition: filter 0.2s;
  
    &[disabled] {
      cursor: not-allowed;
  
      svg {
        animation: animate 2s infinite;
      }
    }
  
    &:hover {
      filter: brightness(1.25);
    }
  }
  
  @keyframes animate {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .search {
    height: 40px;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: var(--gray1);
    border: 1px solid var(--gray2);
    color: var(--gray2);
  }
  
  .search::placeholder {
    color: var(--dark-blue);
  }