.logo2 {
  color: var(--blue);
  font-size: 1.2rem;
}

.header {
  background: var(--dark);
  padding-inline: 16px;
  box-shadow: 0 0 8px 5px;
  z-index: 10;
}

// botão do menu
.hamburger {
  display: none;
  border: none;
  background: none;
  border-top: 3px solid var(--white);
  cursor: pointer;

  /* se a tela for menor que o valor abaixo o botão aparece*/
  @media (max-width: 999px) {
    display: block;
    z-index: 10;
  }

  /* aqui .x é uma classe que é utilizada somente qnd ACTIVE = TRUE */
  &.x {
    //position: fixed;
    //top: 26px;
    //right: 16px;
    border-top-color: transparent;
  }

  &.x::before {
    transform: rotate(135deg);
  }

  &.x::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}

//  aqui é o antes e depois do botão
.hamburger::before,
.hamburger::after {
  content: " ";
  display: block;
  width: 25px;
  height: 3px;
  background: var(--white);
  margin-top: 5px;
  position: relative;
  transition: 0.3s;
}

.nav {
  max-width: 1280px;
  height: 9vh;
  margin-inline: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  display: flex;
  align-items: center;
  gap: 32px;

  button {
    background: transparent;
    border: 0;
    transition: transform 0.4s;

    &:hover {
      transform: scale(1.2);
    }
  }

  a {
    padding-block: 16px;
    font-size: 18px;
    color: var(--white);
  }
}

@media (max-width: 999px) {

  .list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--black);
    clip-path: circle(100px at 100% -25%);
    transition: 0.8s ease-in-out;

    flex-direction: column;
    //justify-content: space-around;    
    align-items: center;
    gap: 0;
    padding: 4rem 0;
    pointer-events: none;

    &.active {
      clip-path: circle(1500px at 100% -20%);
      pointer-events: all;

      a {
        opacity: 1;
      }
    }

    // botão sair  
    button {
      margin-top: 2.5rem;
    }
  }

  .list {
    li {
      padding: 1.5rem;
    }

    a {
      opacity: 0;
    }

    li:nth-child(1) a {
      transition: 0.5s 0.2s;
    }

    li:nth-child(2) a {
      transition: 0.5s 0.3s;
    }

    li:nth-child(3) a {
      transition: 0.5s 0.4s;
    }

    li:nth-child(4) a {
      transition: 0.5s 0.5s;
    }

    li:nth-child(5) a {
      transition: 0.5s 0.6s;
    }
  }
}