.logo2 {
  color: var(--white);
  font-size: 1.2rem;
}

.header {
  background: var(--dark);
  padding-inline: 16px;
  box-shadow: 0 0 8px 5px;
  z-index: 10;
}

.nav {
  max-width: 1280px;
  height: 8vh;
  margin-inline: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    display: none;
    background: transparent;
    border: 0;

    transition: transform 0.6s;

    &:hover {
      transform: scale(1.2);
    }

    @media (max-width: 999px) {
      display: block;
      z-index: 10;
    }
  }
}

.list {
  display: flex;
  gap: 32px;

  a {
    padding-block: 16px;
    font-size: 18px;
    color: var(--white);
  }
}

@media (max-width: 999px) {
  .list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--black);
    clip-path: circle(100px at 100% -25%);
    transition: 0.8s ease-in-out;

    flex-direction: column;
    //justify-content: space-around;    
    align-items: center;
    gap: 0;
    padding: 4rem 0;
    pointer-events: none;

    &.active {
      clip-path: circle(1500px at 100% -20%);
      pointer-events: all;
    }

    li {
      padding: 1.5rem;      
    }

    button {
      margin-top: 2.5rem;
    }
  }
}