.container{
  max-width: 720px;
  margin: 4rem auto;
  padding: 0 2rem;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.container h1{
  color: var(--white);
  font-size: 1.5rem;
  margin: 1.5rem auto;
}

.form{
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.input{
  background-color: var(--dark2);
  border: 0;
  padding: 0.4rem;
  height: 30px;
  border-radius: 0.5rem;
  color: var(--white);
  border: 1px solid var(--gray2);
  margin-bottom: 1rem;  
}

.buttonAdd{
  height: 35px;
  background-color: var(--green);
  border: 0;
  border-radius: 0.5rem;
  font-weight: 600;
  padding: 0.5rem;
}

.bloc{
  display: flex;  
}

.tab{
  list-style: none;

  button{
    background-color: var(--blue);
    border-radius: 0.5rem;
    padding: 0.3rem;
    border: none;
    margin: 0.2rem ;
    justify-content: center;
    align-items: center;
    color: var(--white);
    transition: background-color 0.7s;

    &:hover{
      background-color: var(--dark-blue);
    }
  }
}