// aqui fica todo o estilo global

// aqui é zerado todo o css da aplicação 
*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

// aqui estão as configurações de cores
// variaveis de cores para gerar um padrão visual
:root{

  --white: #fff;
  --black: #000;
  --dark: #121214;
  --dark2: #202024;
  --dark3: #555555;
  --gray: #7C7C8A;
  --gray2: #E1E1E6; 
  --blue: #2799cc;
  --dark-blue: #3e4956;
  --red: #ff3f4b;
  --green: #00a857;
}

// todo button ao passar o mouse terá a mãozinha
button{
  cursor: pointer;
}

// todos a terão este padrão
a{
  color: inherit;
  text-decoration: none;
}

// todo body terá esta cor selecionada
body{
  background: var(--dark);
}

// todo componente abaixo terá o padrão abaixo
body, input, textarea, select, button{
  font: 400 1rem sans-serif; // 1rem = 16px
}

// aqui estou especificando o tamanho da fonte de acordo com o
// tamanho da tela do usuário
@media (max-width: 720px){
  html{
    font-size: 87.5%; // vai gerar 14px
  }
}

// aqui estou especificando o tamanho da fonte de acordo com o
// tamanho da tela do usuário
@media (max-width: 1080px){
  html{
    font-size: 93.75%; // vai gerar 15px
  }
}